* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


body {
    font-family: "Inter", sans-serif;
}

.gradient {
    background: linear-gradient(95deg, rgb(255, 251, 1), rgb(255, 0, 200), rgb(93, 35, 228));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.gradient-bg {
    background: linear-gradient(95deg, rgb(255, 251, 1), rgb(255, 0, 200), rgb(93, 35, 228))
}

nav,
.hero,
.podcast,
.episode,
.techwave,
.youtube,
.host {
    max-width: 1000px;
    margin: auto;
}

nav {
    height: 92px;
    background-color: #1A0B2E;
    color: #FFFFFF;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none
}


nav .nav-host {
    display: flex;
    gap: 32px;
}

nav .nav-host a {
    text-decoration: none;
    color: #FFFFFF;
}

nav button {
    height: 44px;
    width: 135px;
    border-radius: 20px;
    font-weight: 700;
    border: none;
    color: #FFFFFF;
}

nav .hamburger {
    display: none;
}

/* hero-banner-section */
.hero {
    height: 760px;
    background-image: url(./assets/hero-bg.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero img {

    display: flex;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    font-size: 60px;
    font-weight: 800;
    color: #FFFFFF;
    text-align: center;
}

.hero p {
    width: 60%;
    max-width: 600px;
    text-align: center;
    color: #ffffffb1;
    padding-bottom: 24px;
}

.hero .spotify {
    display: flex;
    justify-content: center;
    gap: 12px;
    text-align: center;

}

.hero .mic {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translatex(-50%);
}

.hero .mic img {
    width: 35%;
    max-width: 280px;
    min-width: 140px;
    animation: spin 10.4s linear infinite;
}

.hero h3 {

    position: absolute;
    top: 18%;
    right: 35%;
    border: 1px solid #00FF88;
    background-color: #00FF88;
    border-radius: 20px;
    padding: 8px 16px;
    font-size: 18px;
    transform: translatey(80%);
}

@keyframes spin {
    form {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.spotify {
    animation: flip 4s ease-in-out infinite;
}

@keyframes flip {
    0% {
        transform: perspective(500px)rotatex(0deg);
    }

    50% {
        transform: perspective(500px)rotatex(180deg);
    }

    100% {
        transform: perspective(500px)rotatex(360deg);
    }
}



.spotify {
    display: flex;
    gap: 8px;
}

.spotify .spoti {
    width: 200px;
    height: 44px;
    display: flex;
    justify-content: center;
    gap: 10px;
    text-align: center;
    align-items: center;
    border-radius: 50px;
    text-decoration: none;
    color: #FFFFFF;
}

.spotify .subscribe {
    width: 147px;
    height: 44px;
    display: flex;
    justify-content: center;
    gap: 10px;
    text-align: center;
    align-items: center;
    color: #00FF88;
    border: 1px solid #00FF88;
    background-color: transparent;
    border-radius: 20px;
    text-decoration: none;
}

.podcast {
    background-color: #1A0B2E;
    text-align: center;
}

.podcast .about-podcast {
    padding-top: 50px;
    padding-bottom: 16px;
    font-size: 48px;
    font-weight: bold;
    color: #FFFFFF;
}

.podcast p {
    text-wrap: wrap;
    text-align: center;
    color: #ffffff9d;
    line-height: 2;
    margin: 0 140px;
    padding-bottom: 36px;
}

.podcast hr {
    max-width: 800px;
    color: #1a0b2e00;
    margin: 0 auto;
    opacity: 10%;
    margin-top: 80px;
}

.episode {
    padding-top: 80px;
    background-color: #1A0B2E
}

.episode .number {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 255px);

}

.episode .number h1 {
    font-size: 48px;
    color: #00FF88;
    text-align: center;
}

.episode .number>div {
    margin: 0px 100px 50px 100px;
    max-width: 255px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.episode .number .small {
    color: #ffffff6b;
    text-align: center;
    font-size: 16px;
    max-height: 20px;
}

.episode .peragraph {
    padding: 32px 0px 80px 0px;
}

/* techwave-grid-section */
.techwave {
    position: relative;
    background-color: #230E3D;
    color: #FFFFFF;
    text-align: left;
    max-width: 1000px;
    min-height: 800px;
    padding: 120px 0;
}

.techwave h1 {
    text-align: center;
    padding-bottom: 32px;
}

.techwave .tech-grid {
    max-width: 900px;
    height: 300px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 150px);
    gap: 20px;

}

.tech-grid p {
    color: rgba(255, 255, 255, 0.448);
    font-size: 12px;
}

.box-1 {
    padding: 20px;
    grid-row: 1 / 3;
    background-color: #351165;
    border-radius: 20px;
    text-align: center;
}

.box-2 {
    grid-column: 2 / 4;
    background-color: #351165;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}

.box-3 {
    grid-column: 2 / 4;
    background-color: #351165;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
}

.box-4 {
    grid-column: 1 / 3;
    background-color: #351165;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
}

.box-5 {
    background-color: #351165;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
}

.youtube {
    position: relative;
    background-color: #1A0B2E;
    color: #FFFFFF;

}

.youtube h1 {
    padding-top: 120px;
    padding-bottom: 40px;
    text-align: center;
}

.youtube .video {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    gap: 10px;

}

.youtube .video .link>iframe {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.youtube .video h3 {
    padding-top: 10px;
    padding-bottom: 10px;

}

.link {
    position: relative;

}

.pause3,
.pause2,
.pause1 {
    position: absolute;
    border-radius: 50%;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

}

.youtube .video p {
    padding-bottom: 10px;
    color: #ffffff47;
}

.youtube .video .clock {
    padding-bottom: 24px;
    color: #00FF88;
    display: flex;
    gap: 12px;
}

.youtube .video .youtube .link {
    display: flex;
    flex-direction: column;
    background-color: #250D44;

    border-radius: 20px;
}

.host {
    background-color: #1A0B2E;
    color: #FFFFFF;
    padding-bottom: 140px;
}

/* alax-section */
.host h1 {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    padding-top: 120px;
    padding-bottom: 40px;
}

.host .fix {
    width: 85%;
    background-color: #351165;
    display: flex;
    gap: 30px;
    margin: 0 auto;
    padding: 48px 40px;
    border-radius: 30px;
}

.host .fix .social {
    display: flex;
    gap: 12px;
    padding-top: 20px;
}

.host .fix .kumar p {
    padding-top: 16px;
    color: #ffffff5f;
}

.host .fix {
    align-items: center;
}

.host .fix h1 {
    font-size: 32px;
    font-weight: bold;
}

footer {
    width: 1000px;
    height: 350px;
    background-image: url(./assets/footer-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer h1 {
    padding-top: 35px;
    padding-bottom: px;
    margin: 0 auto;
    color: #FFFFFF;
    font-size: 48px;
}


footer .more-social {
    display: flex;
    gap: 40px;
    padding-top: 55px;
    align-items: center;
    text-align: center;
}

footer hr {
    max-width: 800px;
    color: #1a0b2e00;
    margin: 0 auto;
    opacity: 10%;
    margin-top: 60px;
    margin-bottom: 24px;
}

footer p {
    color: #ffffff79;

}


@media screen and (max-width:576px) {

    nav,
    .her {
        max-width: 100%;
    }


    nav {
        height: auto;
        display: flex;
        justify-content: space-between;
        padding: 16px 0;
    }


    nav .nav-host,
    button {
        display: none;
    }

    nav .hamburger {
        display: inline;
        padding-right: 30px;

    }

    nav>h1 {
        font-size: medium;
        display: flex;
        padding-left: 30px;
    }

    .hero {

        height: 520px;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;


    }


    .hero h1 {
        font-size: 32px;
        padding-top: 10px;
        padding-bottom: 10px;

    }

    .hero h3 {
        top: 12%;
        transform: translate(90%);
    }

    .hero .mic>img {
        width: 50%;

    }

    .hero .mic {

        top: 15%;

    }

    .hero>img {
        position: relative;

    }

    .spotify {
        width: 80%;

    }

    .about-podcast {
        padding-top: 30px;
        font-size: 32px;
    }

    .podcast p {


        margin: 0 20px;
        padding-bottom: 10px;
    }

    .podcast hr {
        max-width: 400px;
        margin-top: 30px;
    }

    .episode {
        padding-top: 40px;
    }

    .episode .number {
        justify-content: center;
        width: 100%;

        grid-template-columns: repeat(2, 200px);

    }

    .episode .number h1 {
        font-size: 48px;
        color: #00FF88;
        text-align: center;
    }

    .episode .number>div {
        margin: 0px 100px 50px 100px;
        max-width: 255px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .episode .number .small {
        color: #ffffff6b;
        text-align: center;
        font-size: 16px;
        max-height: 20px;
    }

    .episode .peragraph {
        padding: 32px 0px 80px 0px;
    }

    .techwave h1 {
        text-align: center;
    }

    .techwave .tech-grid {
        width: 95%;
        display: flex;
        flex-direction: column;
        height: 800px;
    }

    .youtube h1 {
        padding-top: 40px;
        padding-bottom: 20px;

    }

    .youtube .video {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        text-align: left;
        margin: 0 10px;
    }

    .youtube .video .link iframe {
        width: 100%;
        height: 270px;
    }

    .host .fix {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .host .fix .social {
        align-items: center;
        justify-content: center;
    }

    .host {
        padding-bottom: 40px;
    }

    .host h1 {
        font-size: 32px;
        padding-top: 60px;
    }

    footer {
        width: 100%;
        height: auto;
        display: flex;
        padding: px;
    }

    footer .foot {}

    footer h1 {
        padding-top: 30px;
        margin: 0;
        font-size: 28px;
    }

    footer .copyright {
        padding-top: 30px;
        padding-bottom: 25px;
        font-size: 10px;
        width: 490px;
        color: #ffffff24;
    }

    footer .more-social {
        flex-wrap: wrap;

        justify-content: center;
        align-items: center;
        padding-top: 30px;
        gap: 10px;
        margin: 0;
    }

    footer hr {
        display: none;
    }

    .more-social>* {
        font-size: 14px;
        flex-wrap: wrap;
        width: 35%;

    }
}